body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Ensures the main content takes up available space */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow to the login card */
}

.btn-purple {
    background-color: #833AB4;
    color: white;
}

.btn-purple:hover {
    background-color: #621d76;
    color: white;
}

.mt-5 {
    margin-top: 3rem !important; /* Adjust margin */
}
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Smooth transition for background and shadow */
#navbar {
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

/* Navbar styling when it becomes fixed */
.fixed-top.scrolled {
    background-color: #0d47a1 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Prevent content jump when navbar becomes fixed */
body.fixed-navbar {
    padding-top: 56px; /* Adjust based on the height of your navbar */
}

/* Custom CSS for toast animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    animation: slideIn 0.5s ease-out;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card {
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-logo-size {
    width: 300px;
    height: auto;
}

