body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-purple {
    background-color: #833AB4;
    color: white;
}

.btn-purple:hover {
    background-color: #621d76;
    color: white;
}
